// colors
$bg-color: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
$color-30C88F: #30c88f;
$color-2D314D: #2d314d;
$color-9597A5: #9597a5;
$color-2D314D: #2d314d;
$color-white: #fff;
$text-color: #fff;

// z index

$z-index-header-100: 100;
$z-index-header-90: 90;
$z-index-header-80: 80;
$z-index-header-70: 70;
$z-index-header-60: 60;

$bg-color-white: #fff;
$bg-color-f2f2f2: #f2f2f2;
$bg-color-f4f5f7: #f4f5f7;
